  body {
  background-color: bisque;
}
h1 {
   color: black;
  font-family: serif ;
  font-size: 300%;
}
p {
  color: black;
  font-family: fantasy ;

}
header{background-color :beige}
header nav ul li {display : inline;
padding: 10px;
text-align: center;
color: black;


}